<% if resource.errors.any? %>
  <div class="alert alert-block alert-error fade in" data-alert="alert">
    <a class="close" data-dismis="alert">&times;</a>
    <strong>Oh Snap!</strong> Change a few things up and try submitting again.
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
