<% if resource.errors.any? %>
  <div class="alert alert-block alert-error fade in" data-alert="alert">
    <a class="close" data-dismis="alert">&TIMES;</a>
    <h4 class="alert-heading">Oh Snap!</h4>
    Change a few things up and try submitting again.
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= mg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
